<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Game Server Example</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
</head>
<body>
    <h1>Messages:</h1>
    <p id="messages">
        Waiting on messages...
    </p>
</body>
</html>